@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body {
  color: white;
  background-color: black;
  font-family: 'Plus Jakarta Sans', sans-serif;
  width: 100%;
  height: 100%;
}

.text-align-center {
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: red;
  font-size: 1.4rem;
  padding: 0% 5%;
}

.footer-link:hover {
  color: white;
}
.link {
  text-decoration: none;
  color: red;
  font-size: 1rem;
}

.link:hover {
  color: white;
}

.nav-s {
  width: 100%;
}

.nav-link {
  font-size: 120%;
  font-weight: 600;
  color: red !important;
}

.navbar-nav {
  padding-top: 1%;
}

.sup {
  font-size: 350%;
}

.navbar-brand {
  font-size: 200%;
}

.pad-top-10 {
  padding-top: 10%;
}

.pad-top-5 {
  padding-top: 5%;
}

.pad-top-15 {
  padding-top: 15%;
}

.pad-top-20 {
  padding-top: 20%;
}

.pad-top-25 {
  padding-top: 25%;
}

.title {
  font-size: 450%;
}

.color {
  color: white;
}

.t-pad {
  font-family: poppins;
  margin: 0% auto;
}

.pad-bot-20 {
  padding-bottom: 20%;
}

.pad-bot-10 {
  padding-bottom: 10%;
}

.pad-top-5 {
  padding-top: 5%;
}

.pad-bot-2 {
  padding-bottom: 2%;
}
.btn:hover{
  color: red;
  font-weight: 500;
  border-color: white;
}

.btn{
  margin: 1%;
  color: white;
  border-radius: 5px;
  border-color: red;
}
.h{
  background: linear-gradient(to right,white,white,red,RED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
  .pad-top-20 {
    padding-top: 50%;
  }

  .navbar-brand {
    font-size: 110%;
    color: red;
    font-weight: 600;
  }

  .title {
    font-size: 200%;
  }

  .content {
    width: 50% !important;
  }

  .sup {
    font-size: 150%;
  }

  .sud {
    font-size: 100%;
  }

  .btn {
    font-size: 100%;
  }

  .contact-me {
    margin: 0% 10%;
  }
}
  .about {
    width: 100%;
  }

  table {
    margin: 0% auto;
    
  }
  .width-95{
    width: 95%;
    margin: 0% auto;
  }
  
  .glow-item {
    text-align: center;
    margin: 30px 100px;
    border-radius: 35px;
    box-shadow: 0 0 50px 15px #48abe0;
  }
  .glow-item:hover {
    box-shadow: 0 0 50px 15px #db48e0;
  }

  .form{
    width: 60%;
    padding: 5% 0%;
    margin: 5% auto;
    border-radius: 35px;
    box-shadow: 0 0 50px 15px #48abe0;
  }
  textarea{
    width: 80%;
    height: 80%;
    margin: 0% auto;
  }
  @media only screen and (max-width: 600px) {
    
    .form{
    width: 80%;
    padding: 5% 0%;
    margin: 5% auto;
    border-radius: 35px;
    box-shadow: 0 0 50px 15px #48abe0;
    }
    textarea{
    width: 60%;
    height: 80%;
    margin: 0% auto;
    }
  }
  
  }
